NEXT_PUBLIC_SUPABASE_URL=https://dncrlbmtfszlpcsiiqtg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRuY3JsYm10ZnN6bHBjc2lpcXRnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTMwOTM1MTAsImV4cCI6MjA2ODY2OTUxMH0.5UNG2MCpWeiOrDMdEEgptLDVYiu8LPxkyqbZsaJcpfk